<div class="login-background">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="panel panel-login bg-lingth">
        <img class="img-fluid d-block m-auto py-4 " src="/assets/im_login.png" alt="Voltei imagem Login">
        <p *ngIf="mensagem" class="text-center">{{ mensagem }}</p>
        <form #meuFormulario="ngForm" (ngSubmit)="logar() && meuFormulario.form.valid">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
              <input type="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                name="email" [(ngModel)]="user.email" class="form-control" placeholder="E-mail do usuário" [ngClass]="{'is-valid':email.valid, 'is-invalid':email.invalid && email.touched }"
                required #email="ngModel">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
              <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Senha" [ngClass]="{'is-valid':senha.valid, 'is-invalid':senha.invalid && senha.touched }"
                minlength=6 required #senha="ngModel">
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="meuFormulario.form.invalid">Entrar</button>
          <button type="button" class="btn btn-link" routerLink="/esqueci-a-senha">Esqueci minha Senha.</button>

          <button (click)='entrar()' type="button" class="btn btn-link">Login com conta google.</button>
        </form>
      </div>
    </div>
  </div>
</div>
