<div class="cabecario" [ngClass]="fundo">
  <div class="cabecario-embrulho">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="titulo-cabecario">
            Procure uma clínica,
            <br /> médico ou especilidade
            <br /> com facilidade, em todo lugar.
          </h1>
        </div>
      </div>
    </div>

    <div class="container">
      <form #f="ngForm" autocomplete="off" class="cabecario-form" (ngSubmit)="f.form.valid && buscar()">
        <div class="row">
          <div class="col-md-8">
            <input class="form-control" placeholder="Em que podemos te ajudar? Clínica, médico ou especialidade" [(ngModel)]="pesquisa.q"
              name="q" type="text">
          </div>
          <div class="col-md-2">
            <select class="form-control" [(ngModel)]="pesquisa.plano" name="plano" id="">
              <option value="todos">Todos</option>
              <option value="clinica">Clínica</option>
              <option value="hospitais">Hospitais</option>
              <option value="medicos">Médicos</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<main class="conteudo">
  <div class="container">
    <div class="row">
      <div class="col-md-8 destaques">
        <h2>Encontre seu médico onde você estiver</h2>
        <div class="row">
          <section *ngFor="let pontoAtendimento of pontosAtendimento" class="col-md-12 pt-2">
            <div class="card">
              <div class="card-header">
                <img width="250px"
                  class="pt-3"
                  [src]="pontoAtendimento.img_url ? pontoAtendimento.img_url : 'https://static.helpsaude.med.br/content/imgs/professions/physician.png?w=210&h=210&mode=crop&scale=both'" >
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ pontoAtendimento.nome }}</h5>
                <p>Descrição: {{ pontoAtendimento.descricao }} <br>
                  <br /> Telefone: {{ pontoAtendimento.telefone }}</p>
                <a class="btn btn-primary" [routerLink]="'/ponto-atendimento/' + pontoAtendimento.id">
                  Ver mais informações</a>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="col-md-4">
          <h2>Categorias</h2>
          <hr>
          <nav class="nav flex-column nav-pills">
            <a *ngFor="let categoria of categorias" [id]="categoria.id" class="nav-link"
               routerLink="/categoria" [queryParams]="{ selecionada: categoria.id }">{{ categoria.nome }}</a>
          </nav>
        </div>
    </div>
  </div>
</main>
