<div class="row" *ngIf="mostrarPagina">
  <div class="col-md-6">

    <form #atual="ngForm" class="pt-5" (ngSubmit)="atual.form.valid && salvar()">

      <div class="form-group">
        <label for="nome">Nome</label>
        <input name="nome" type="text" [(ngModel)]="exemplo.nome" placeholder="Digite o nome do exemplo" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="tipo">Tipo</label>
        <input name="tipo" type="text" [(ngModel)]="exemplo.tipo" placeholder="Digite Tipo de exemplo" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select name="status"type="text" [(ngModel)]="exemplo.status" class="form-control" required>
          <option value="ativo">Ativo</option>
          <option value="desativado">Desativado</option>
        </select>
      </div>

      <div class="form-group">
        <button class="btn btn-primary float-right" [disabled]="!atual.form.valid" type="submit">
          <span *ngIf="!exemplo.id">Criar</span>
          <span *ngIf="exemplo.id">Atualizar</span>
        </button>
      </div>
    </form>
    <h6>O que irá ser salvo</h6>
    <pre class="col-md-12">
      {{ exemplo | json }}
    </pre>
  </div>
  <div class="col-md-6">
    <aside class="pt-5">
      <h2>Lista de Exemplos</h2>

        <li *ngFor="let ex of exemplos | async">
          {{ex.nome}} - {{ex.status}} <button (click)="selecionar(ex)">Selecionar</button> <button (click)="excluir(ex)">excluir</button>
        </li>

    </aside>
  </div>
</div>

<div class="row justify-content-center" *ngIf="!mostrarPagina">
  <div class="col-md-12">
    <h2 class="text-center">Você não tem acesso a este recurso, faça login</h2>
  </div>
</div>
