<ion-header>
  <ion-navbar>
    <button ion-button menuToggle style="font-size:18px" color="standard" clear icon-only>
      <ion-icon name="md-menu" color='light'></ion-icon>
    </button>
    <ion-buttons end>
      <button right ion-button style="font-size:18px" color="standard" clear icon-only (click)="searchBar()">
        <ion-icon name="md-search" color='light'></ion-icon>
      </button>
      <button right ion-button style="font-size:18px" color="standard" clear icon-only (click)="filtro()">
        <ion-icon name="funnel" color='light'></ion-icon>
      </button>

    </ion-buttons>
    <ion-title>
      Lista de Clinicas
    </ion-title>

    <ion-searchbar *ngIf='search === true' animated autocomplete="on" placeholder="Buscar ponto de atendimento" [(ngModel)]="myInput"
      (ionInput)="onInput()" (ionCancel)="onCancel()" searchbar-ios-input-transition>
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'search':search === true}">
  <h1 *ngIf="failSearch===true" style="color:#a0a0a0;     text-align: center; margin:10px   "> Não há ponto de atendimento! </h1>

  <ion-list>
    <ion-item *ngFor='let pontoAt of pontoAtendimento' ion-item (click)="detalhesClinica(pontoAt)">
      <!-- <ion-avatar item-left *ngIf="pontoAt?.logo">
        <img src="{{pontoAt?.logo}}" alt="">
      </ion-avatar>
      <ion-avatar item-left *ngIf="!pontoAt?.logo">
        <img src="assets/imgs/no-image.png" alt="avatar" style="opacity: 0.4;">
      </ion-avatar> -->
      <strong class="whitespace">{{pontoAt?.nome}}</strong>
      <br>
      <span class="whitespace"> {{pontoAt?.descricao}} </span>
      <p class="whitespace">{{pontoAt?.localizacao.enderecoCompleto}}</p>
      <br>
      <!-- <div *ngFor="let p of pontoAt?.planos">
        <strong>{{p}}</strong>
      </div> -->
      <p item-right class="whitespace">
        {{pontoAt?.distancia}} Km
      </p>
    </ion-item>
  </ion-list>
</ion-content>
