page-detalhe-clinica {
  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #please-connect p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 1.6em;
    top: 30%;
  }
  .scroll {
    height: 100%;
  }
  #map {
    width: 92%;
    height: 37%;
    margin: 0 auto;
  }
}
