<ion-header>
  <ion-navbar>
    <ion-title>
      Detalhes clinica
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      Informações da clinica
    </ion-list-header>
    <ion-item>
      <span item-start>
        Nome:
      </span>
      <p>{{pontoAt?.nome}}</p>
    </ion-item>
    <ion-item>
      <span item-start>
        Descrição:
      </span>
      <p>{{pontoAt?.descricao}}</p>
    </ion-item>
    <ion-item>
      <span item-start>
        Planos:
      </span>
      <ion-row>
        <ion-col col-6 *ngFor='let p of planos'>
          <ion-icon name="arrow-dropright" color="primary"></ion-icon>
          {{p.nome}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <span item-start>
        Telefone:
      </span>
      <p>{{pontoAt?.telefone}}</p>
    </ion-item>
    <ion-item>
      <span item-start>
        Endereço:
      </span>
      <p>{{pontoAt?.localizacao.enderecoCompleto}}</p>
    </ion-item>
  </ion-list>
  <div #pleaseConnect id="please-connect">
    <p>Conectando a internet...</p>
  </div>

  <div #map id="map"></div>

</ion-content>
<ion-footer padding>
  <button ion-button block (click)='goToContato()'> CONTATO </button>
</ion-footer>
