<div class="container">
  <br>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <form #formU="ngForm" (ngSubmit)='formU.form.valid && onNgSubmit()'>
        <div class="form-group">
          <label for="nomeUser" >Nome:</label>
          <div>
            <input type="text" class="form-control" id="nomeUser" [(ngModel)]="usuario.nome" name="nome" required #nome="ngModel">
          </div>
        </div>
        <div class="form-group">
          <label for="emailUser"> Email:</label>
          <div>
            <input type="email" readonly class="form-control" id="emailUser" [(ngModel)]="usuario.email" name="email" placeholder="Digite o seu email">
          </div>
        </div>
        <div class="form-group">
          <label for="cpfUser">CPF:</label>
          <div>
            <input type="text" class="form-control" id="cpfUser" [(ngModel)]="usuario.cpf" name="cpf" placeholder="Digite o seu cpf">
          </div>
        </div>
        <div class="form-group">
          <label for="telefoneUser">Telefone:</label>
          <div>
            <input type="text" class="form-control" id="telefoneUser" [(ngModel)]="usuario.telefone" name="telefone" placeholder="Digite o seu telefone">
          </div>
        </div>
        <div class="form-group">
            <label for="sexoSexo">Selecione o sexo: </label>
            <select [(ngModel)]="usuario.sexo" name="sexo" class="form-control" id="sexoSexo">
              <option [ngValue]="null" defaul>Selecione</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Salvar</button>
          </div>
      </form>
    </div>
  </div>
</div>


