<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header> Dados do usuário</ion-list-header>
    <ion-item>
      <span start> Nome: </span>
      <p>
        {{usuario?.nome}}
      </p>
    </ion-item>
    <ion-item>
      <span start> Email: </span>
      <p>
        {{usuario?.email}}
      </p>
    </ion-item>
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select>
        <ion-option value="F">Feminino</ion-option>
        <ion-option value="M">Masculino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Nascimento</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD-MM-YYYY"></ion-datetime>
    </ion-item>
    <br>
    <button ion-button block margin-top>
      Salvar
    </button>
  </ion-list>
</ion-content>
