<ion-menu [content]="content" type="overlay" persistent="true">

  <ion-header>
    <ion-title style="padding: 15%;">
      <img src="assets/imgs/im_login.png" alt="">
    </ion-title>
    <!-- <div style="color:white; margin:10px">
      <div>
        <strong>Nome: </strong> {{nome}}
      </div>
      <div>
        <strong>Email: </strong> {{email}}
      </div>
      <div>
        <strong>Cpf: </strong> {{cpf}}
      </div>
    </div> -->
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" style="margin: 0 10px; font-size: 1.5em;"></ion-icon>{{p.title}}
      </button>
      <button ion-item (click)="sair()">
        <ion-icon name="md-exit" style="margin: 0 10px; font-size: 1.5em;"></ion-icon> Sair
      </button>
    </ion-list>
  </ion-content>
  <ion-footer padding-right padding-bottom style="text-align: right">
    <small>
      Versão {{version}}
    </small>
  </ion-footer>

</ion-menu>
<ion-nav  #content [root]="rootPage"></ion-nav>
