<!--
  Generated template for the ContatoClinicaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contato Clinica</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label class="strong">Data: </ion-label>
        <ion-datetime displayFormat="" pickerFormat="DD-MM-YYYY" [(ngModel)]="time" required [(ngModel)]='solicitacao.data' name="data"
          #data="ngModel"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="strong"> Horário: </ion-label>
        <ion-datetime displayFormat="" pickerFormat="HH:mm" [(ngModel)]="time" required [(ngModel)]='solicitacao.horario' name="horario"
          #horario="ngModel"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="strong"> Observações: </ion-label>
        <ion-textarea type="text" rows=4 [(ngModel)]='solicitacao.observacoes' name="obs" #obs="ngModel"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Plano</ion-label>
        <ion-select multiple="false">
          <ion-option *ngFor="let p of planos" value="p.id">{{p.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Plano</ion-label>
        <ion-select multiple="true">
          <ion-option *ngFor="let c of categorias" value="c.id">{{c.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block (click)='enviarSolicitacao()' color="primary"> Enviar </button>

    </ion-list>
  </form>
</ion-content>
