<div class="row" *ngIf="logado">
  <div class="col-md-12">
    <form #atual="ngForm" class="pt-5" (ngSubmit)="atual.form.valid && salvar()">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="clinica.nome" name="nome" placeholder="Digite o nome da clinica" required>
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="clinica.email" name="email" placeholder="Digite o email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="endereco">Endereco</label>
        <input type="text" class="form-control" [(ngModel)]="clinica.endereco" name="endereco"  placeholder="Digite o endereco" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Cidade</label>
          <input type="text" class="form-control"[(ngModel)]="clinica.cidade" name="cidade"  placeholder="Digite a cidade" required>
      </div>
        <div class="form-group col-md-6">
          <label for="estado">Estado</label>
          <select name="estado" type="text" [(ngModel)]="clinica.estado" class="form-control" placeholder="Selecione o estado" required>
              <option value="MG">MG</option>
              <option value="SP">SP</option>
              <option value="RJ">RJ</option>
            </select>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
            <label for="cnpj">Cnpj</label>
            <input type="text" class="form-control" [(ngModel)]="clinica.cpnj" name="cnpj" placeholder="Digite o cnpj" required>
          </div>
          <div class="form-group col-md-6">
              <label for="inputZip">Telefone</label>
              <input type="text" class="form-control"[(ngModel)]="clinica.Telefone" name="telefone" placeholder="Digite o telefone" required>
            </div>
        </div>
        <div class="form-group">
        <button class="btn btn-primary float-right" [disabled]="!atual.form.valid" type="submit">
          <span *ngIf="!clinica.id">Criar</span>
          <span *ngIf="clinica.id">Atualizar</span>
        </button>
      </div>
    </form>

    <div class="col-md-6">
      <h6>Clinicas</h6>
      <li *ngFor="let c of clinicas | async">
          {{c.nome}} - {{c.cidade}} <button (click)="selecionar(c)">Selecionar</button> <button (click)="excluir(c)">excluir</button>
      </li>
    </div>

  </div>
</div>

<div class="row justify-content-center" *ngIf="!logado">
    <div class="col-md-12">
      <h2 class="text-center">Você não tem acesso a este recurso, faça login</h2>
    </div>
  </div>

