<header>
  <app-cabecario></app-cabecario>
</header>
<div class="container-fluid">
  <div class="row pl-0 pr-0">
    <div class="col-12 pl-0 pr-0">
      <router-outlet></router-outlet>
    </div>

    <div class="col-12">
      <footer>
        <app-rodape></app-rodape>
      </footer>
    </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>