<div class="cadastro-background">
  <div class="cadastro-embrulho">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-8 mb-3">

            <div class="d-block text-center" role="group" aria-label="Basic example">
              <div class="btn-group " role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" [class.active]="!mostrarSegundoForm" (click)="changeForm(false)">Cadastrar Usuário</button>
                <button type="button" class="btn btn-info" [class.active]="mostrarSegundoForm" (click)="changeForm(true)">Cadastrar Clínica</button>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <h6>Dados de usuário</h6>
            <hr>

            <form #formU="ngForm" (ngSubmit)="cadastrar() && formU.form.valid">
              <div class="form-row">
                <div class="pt-2 pb-2 col-12">
                  <input type="text" class="form-control" id="inputNome" placeholder="Digite seu nome" name="nome" [(ngModel)]="usuario.nome"
                  [ngClass]="{'is-valid':nome.valid, 'is-invalid':nome.invalid && nome.touched }" required #nome="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="pt-2 pb-2 col-12">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Endereço de email" name="email" [(ngModel)]="usuario.email"
                  [ngClass]="{'is-valid':email.valid, 'is-invalid':email.invalid && email.touched }"
                    required #email="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="pt-2 pb-2 col-12">
                  <input type="password" class="form-control" id="inputSenha" placeholder="Criar uma senha" name="senha" [(ngModel)]="usuario.senha"
                    [ngClass]="{'is-valid':senha.valid, 'is-invalid':senha.invalid && senha.touched }" required #senha="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="pt-2 pb-2 col-12">
                  <button *ngIf="!mostrarSegundoForm" type="submit" class="btn btn-primary btn-lg" [disabled]="formU.form.invalid">Cadastre-se</button>
                </div>
              </div>
            </form>

          </div>

          <div class="col-md-6" *ngIf="mostrarSegundoForm">

            <h6>Dados da clínica</h6>
            <hr>

            <form #formC="ngForm" (ngSubmit)="cadastrar() && formC.form.valid">
              <div class="form-row">
                <div class="pt-2 pb-2 col-8">
                  <input type="text" class="form-control" id="inputNome" placeholder="Razão social" name="razSocial" [(ngModel)]="pontoAtendimento.nome" [ngClass]="{'is-valid':razSocial.valid, 'is-invalid':razSocial.invalid && razSocial.touched }" required #razSocial="ngModel">
                </div>

                <div class="pt-2 pb-2 col-4">
                  <input type="tel" class="form-control" id="inputCnpj" placeholder="CNPJ" name="cnpj" [(ngModel)]="pontoAtendimento.cnpj" [ngClass]="{'is-valid':cnpj.valid, 'is-invalid':cnpj.invalid && cnpj.touched }" required #cnpj="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="pt-2 pb-2 col-4">
                  <input type="tel" class="form-control" id="inputSobreNome" placeholder="Telefone principal" name="sobrenome" [(ngModel)]="pontoAtendimento.telefone" [ngClass]="{'is-valid':sobrenome.valid, 'is-invalid':sobrenome.invalid && sobrenome.touched }" required #sobrenome="ngModel">
                </div>

                <div class="pt-2 pb-2 col-5">
                  <input type="email" class="form-control" id="inputEmail2" placeholder="Email principal" name="email" [(ngModel)]="pontoAtendimento.email" [ngClass]="{'is-valid':email.valid, 'is-invalid':email.invalid && email.touched }"
                    required #email="ngModel">
                </div>

                <div class="pt-2 pb-2 col-3">
                  <input type="tel" class="form-control" id="inputCep" placeholder="CEP" name="cep" [(ngModel)]="pontoAtendimento.localizacao.cep" (keyup)="getAddressByCep()" required #cep="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="pt-2 pb-2 col-8">
                  <input type="text" class="form-control" id="inputEndereco" placeholder="Endereço" name="endereco" [(ngModel)]="pontoAtendimento.localizacao.logradouro" [ngClass]="{'is-valid':endereco.valid, 'is-invalid':endereco.invalid && endereco.touched }" required #endereco="ngModel">
                </div>

                <div class="pt-2 pb-2 col-2">
                  <input type="text" class="form-control" id="inputNumero" placeholder="Nº" name="numero" [(ngModel)]="pontoAtendimento.localizacao.numero"
                    [ngClass]="{'is-valid':numero.valid, 'is-invalid':numero.invalid && numero.touched }" required #numero="ngModel">
                </div>

                <div class="pt-2 pb-2 col-2">
                  <input type="text" class="form-control" id="inputComplemento" name="complemento" placeholder="Comp." [(ngModel)]="pontoAtendimento.localizacao.complemento"  #complemento="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="pt-2 pb-2 col-4">
                  <input type="text" class="form-control" id="inputBairro" placeholder="Bairro" name="bairro" [(ngModel)]="pontoAtendimento.localizacao.bairro" [ngClass]="{'is-valid':bairro.valid, 'is-invalid':bairro.invalid && bairro.touched }" required #bairro="ngModel">
                </div>

                <div class="pt-2 pb-2 col-6">
                  <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" name="cidade" [(ngModel)]="pontoAtendimento.localizacao.cidade" [ngClass]="{'is-valid':cidade.valid, 'is-invalid':cidade.invalid && cidade.touched }" required #cidade="ngModel">
                </div>

                <div class="pt-2 pb-2 col-2">
                  <input type="text" class="form-control" id="inputEstado" placeholder="Estado" name="estado" [(ngModel)]="pontoAtendimento.localizacao.estado" [ngClass]="{'is-valid':estado.valid, 'is-invalid':estado.invalid && estado.touched }" required #estado="ngModel">
                </div>
              </div>

              <div class="form-row">
                <div class="pt-2 pb-2 col-12">
                  <button type="submit" class="btn btn-primary btn-lg" [disabled]="formC.form.invalid || formU.form.invalid">Cadastre-se</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
  </div>
</div>
