<!--
  Generated template for the RecuperaSenhaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recuperação de senha </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Informe um email válido para que possamos enviar um e-mail de recuperação de senha</p>
  <form #f="ngForm">
    <ion-list>
      <ion-item>
        <ion-label>Email de recuperação:</ion-label>
        <ion-input type="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          class="full padding-10 mb" placeholder="email" [(ngModel)]="_email" name="email" #email="ngModel" required
          minlength=4></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block> Recuperar Senha </button>
  </form>
</ion-content>
