<h3>ESQUECI A SENHA</h3>

<div class="login-background">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <div class="panel panel-login">
        <img class="img-fluid d-block m-auto pb-4" src="/assets/im_login.png" alt="Voltei imagem Login">
        <!-- <p *ngIf="mensagem" class="text-center">{{mensagem}}</p> -->
        <form #meuFormulario="ngForm" (ngSubmit)="enviarEmail() && meuFormulario.form.valid">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
              <input type="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" name="email" [(ngModel)]="user.email" class="form-control" placeholder="E-mail recuperação de senha" [ngClass]="{'is-valid':email.valid, 'is-invalid':email.invalid && email.touched }" required #email="ngModel">
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="meuFormulario.form.invalid">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
