<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Sam App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/exemplo">Página de Exemplo</a>
        </li>
        <li *ngIf="!logado">
          <a class="nav-link" routerLink="/login">
            Entrar
          </a>
        </li>
        <li *ngIf="!logado">
          <a class="nav-link nav-cta" routerLink="/cadastro-usuario">Faça Parte</a>
        </li>
        <li>
          <div ngbDropdown *ngIf="logado" class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ usuario.nome }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Solicitações</button>
              <button class="dropdown-item">Minha Conta</button>
              <a routerLink="/login" class="dropdown-item">Sair</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
