<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Agendar Atendimento</h2>
      <form #f="ngForm" (ngSubmit)="f.valid && marcarConsulta()" autocomplete="off">
        <div class="form-group">
          <label for="especialidade">Especialidade</label>
          <select class="form-control" [(ngModel)]="agendamento.especialidade" name="especialidade" id="especialidade" required>
            <option value="">Teste</option>
            <option value="">Teste 1</option>
            <option value="">Teste 2</option>
          </select>
        </div>
        <div class="form-group">
          <label for="profissional">Responsável pela Consulta</label>
          <select name="profissional" [(ngModel)]="agendamento.profissional" class="form-control" id="profissional">
            <option value="">Dra. Alessandra</option>
            <option value="">Dr. João</option>
            <option value="">Dr. Leandra</option>
          </select>
        </div>
        <div class="form-group">
          <label for="plano">Plano</label>
          <select name="plano" [(ngModel)]="agendamento.plano" class="form-control" id="plano" required>
            <option value="">Nenhum</option>
            <option value="">UNIMED</option>
            <option value="">Outros</option>
          </select>
        </div>
        <div class="form-group">
          <label for="observacoes">Observações</label>
          <textarea type="text" name="observacoes" [(ngModel)]="agendamento.observacoes" rows="3" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button [disabled]="!f.valid" type="submit" class="btn btn-primary float-right">Confirmar</button>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <h2>Agenda Atual</h2>
      <div class="form-group">
        <label for="dia">Dia da Consulta</label>
        <ngb-datepicker #dp [(ngModel)]="hoje" (navigate)="date = $event.next"></ngb-datepicker>
      </div>

    </div>
  </div>
</div>
