<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>{{ pontoAtendimento.nome }}</h1>
      <p>Descrição: {{ pontoAtendimento.descricao }}</p>
      <p>Planos Aceitos: {{ pontoAtendimento.planos }}</p>
      <p>Telefone Contato: {{ pontoAtendimento.telefon }}</p>
      <p>Endereço Completo: {{ pontoAtendimento.localizacao.enderecoCompleto }}</p>
      <agm-map style="width: 100%; height: 250px;" [latitude]="pontoAtendimento?.localizacao.lat" [longitude]="pontoAtendimento?.localizacao.long"></agm-map>

      <a class="btn btn-success float-right" routerLink="agendar">Agendar Agora</a>
    </div>
  </div>
</div>
