.navbar.bg-light {
  padding: 20px 0;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.31);

}

.navbar-nav .nav-link {
  color: #484848;
  margin-left: 8px;
  font-size: 0.9rem !important;
}

.nav-cta {
  background: #0069d9;
  border-radius: 2px;
  color: #fff !important;
}
