<center style="background-color:#E1E1E1;">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;">
    <tr>
      <td align="center" valign="top" id="bodyCell">
        <table bgcolor="#E1E1E1" border="0" cellpadding="0" cellspacing="0" width="600" id="emailHeader">
          <tr>
            <td align="center" valign="top">
            </td>
          </tr>
        </table>
        <table bgcolor="#FFFFFF"  border="0" cellpadding="0" cellspacing="0" width="600" id="emailBody">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#FFFFFF;" bgcolor="#00483e">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                      <tr>
                        <td align="center" valign="top" width="600" class="flexibleContainerCell">
                          <table border="0" cellpadding="30" cellspacing="0" width="100%">
                            <tr>
                              <td align="center" valign="top" class="textContent">
                                  <img src="https://mantiqueirasol.firebaseapp.com/assets/images/logo.png" height="50%;"/>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#F8F8F8">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                      <tr>
                        <td align="center" valign="top" width="600" class="flexibleContainerCell">
                          <table border="0" cellpadding="30" cellspacing="0" width="100%">
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                    <td valign="top" class="textContent">
                                      <h3 mc:edit="header" style="font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left;">Olá, <strong>{{ current.name }}</strong></h3>
                                      <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;line-height:135%;">
                                        <p>Você recebeu uma nova mensagem de alguém interessado no seu cadastro realizado no sistema SOL.bn.</p>
                                        <p>Nome: <strong> {{ interested.name }} </strong> <br/>
                                        E-mail: <a href="#">{{ interested.email }}</a></p>
                                        <hr></hr>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                    <td align="center" valign="top">
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                          <td valign="top" class="textContent">
                                            <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;line-height:135%;">
                                              <p>Veja abaixo o que tem para oferecer e sua intenção de troca:</p>
                                            </div>
                                            <h3 mc:edit="header" style="font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left;"><strong>Apartamento com área privativa<br/>
                                                <span style="color: #00483e;">R$ {{ interested.property.price }}</span> <br>
                                                {{ interested.property.address }} </strong>
                                            </h3>
                                            <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;line-height:135%;">
                                              <p>{{ interested.property.info }}</p>
                                              <p style="color: #8b8b8b;"> {{ interested.property.desc }}
                                              </p>
                                            </div>

                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                      <tr>
                        <td align="center" valign="top" width="600" class="flexibleContainerCell">
                          <table border="0" cellpadding="30" cellspacing="0" width="100%" style="background-color: #b5e51d;">
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                    <td valign="top" class="textContent">
                                      <h4 mc:edit="header" style="font-family:Helvetica,Arial,sans-serif;font-size:25px;font-weight:300;margin-top:0;margin-bottom:3px;text-align:left; color:#fff;">Quero trocar por</h4>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td align="center" valign="top">
                                <table border="0" cellpadding="30" cellspacing="0" width="100%">
                                  <tr>
                                    <td valign="top" class="textContent">
                                      <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;line-height:135%;">
                                        <p>Veja abaixo o que tem para oferecer e sua intenção de troca:</p>
                                      </div>
                                      <h3 mc:edit="header" style="font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left;"><strong>{{ interested.changeFor.types }}<br/>
                                          <span style="color: #00483e;">R$ {{ interested.changeFor.minPrice }}</span>  a  <span style="color: #00483e;">R$ {{ interested.changeFor.maxPrice }}</span><br>
                                      </h3>
                                      <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;line-height:135%;">
                                        <p>
                                          {{ interested.changeFor.locations }}
                                        </p>
                                        <p style="color: #8b8b8b;"><strong>Acima ou igual</strong><br/>
                                          {{ interested.changeFor.information }} <br/>
                                        </p>
                                        <p>
                                          <strong>Área (m²)</strong> <br>
                                          {{ interested.changeFor.area }}
                                        </p>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                      <td>
                          <tr>
                            <td align="center" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" cellmargin="5">
                                <tr style="padding-top:0;">
                                  <td align="center" valign="top">
                                    <table border="0" cellpadding="30" cellspacing="0" width="600" class="flexibleContainer">
                                      <tr>
                                        <td style="padding-top:0;" align="center" valign="top" width="600" class="flexibleContainerCell">
                                          <table border="0" cellpadding="0" cellspacing="0" width="50%" class="emailButton" style="background-color: #b5e51d;">
                                            <tr>
                                              <td align="center" valign="middle" class="buttonContent" style="padding-top:10px;padding-bottom:10px;padding-right:100px;padding-left:100px;;">
                                                <a style="color:#FFFFFF;text-decoration:none; text-shadow: 1px 1px gray;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:135%;" href="#" target="_blank">RESPONDER</a>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                            <tr>
                              <td align="center" valign="top" width="600" class="flexibleContainerCell">
                                <table border="0" cellpadding="30" cellspacing="0" width="100%" style="background-color: #00483e;">
                                  <tr>
                                    <td align="center" valign="top">
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                          <td valign="top" class="textContent" align="center" height="50%;">
                                            <img src="https://mantiqueirasol.firebaseapp.com/assets/images/logo.png" height="40%;"/> <span style="color: #fff; font-family:Helvetica,Arial,sans-serif;font-size: 17px; padding-left:5;"> nasce para todos. Faça bons negócios.</span>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
