<div class="cadastro-medico">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h6>Cadastro Médico</h6>
        <hr>

        <form #formMed="ngForm" (ngSubmit)="cadastrarMedico() && formMed.form.valid">
          <div class="form-row">
            <div class="pt-2 pb-2 col-12">
                <input type="text" class="form-control" id="inputNome" placeholder="Digite seu nome" name="nome" [(ngModel)]="usuario.nome" required #nome="ngModel">
            </div>
          </div>

          <div class="form-row">
            <div class="pt-2 pb-2 col-6">
              <input type="email" class="form-control" placeholder="E-mail" name="email" [(ngModel)]="usuario.email" required #email="ngModel">
            </div>

            <div class="pt-2 pb-2 col-2">
              <input type="date" class="form-control" placeholder="Data Nascimento" name="dataNascimento" [(ngModel)]="usuario.dataNascimento" required #dataNascimento="ngModel">
            </div>

            <div class="pt-2 pb-2 col-4">
              <!-- <select class="custom-select form-control" name="especialidade" [(ngModel)]="medico.especialidades.uid" required>
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select> -->
            </div>
          </div>

          <div class="form-row">
            <div class="pt-2 pb-2 col-4">
              <input type="tel" class="form-control" placeholder="CPF" name="cpf" [(ngModel)]="usuario.cpf" required #cpf="ngModel">
            </div>

            <div class="pt-2 pb-2 col-4">
              <input type="text" class="form-control" placeholder="CRM" name="crm" [(ngModel)]="medico.crm" required #crm="ngModel">
            </div>

            <div class="pt-2 pb-2 col-4">
              <input type="text" class="form-control" placeholder="Telefone" name="telefone" [(ngModel)]="usuario.telefone" required #telefone="ngModel">
            </div>
          </div>

          <div class="form-row">
            <div class="pt-2 pb-2 col-12">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="formMed.form.invalid">Cadastrar Médico</button>
            </div>
          </div>
        </form>

      </div>

    </div>

    <div class="row">
      <div class="col-md-12">

      </div>
    </div>

  </div>
</div>
