<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="nadaEncontrado else encontrado">
        <br>
      <h6 class="alert alert-danger">Nenhuma Informação Encontrada</h6>
      </div>
    </div>
  </div>
</div>

<ng-template #encontrado>
<div *ngFor="let pontoAtendimento of pontosAtendimento">
    <div class="card" id="result">
      <div class="card-body">
        {{ pontoAtendimento.nome }}<br>
        <strong> Descrição:</strong> {{ pontoAtendimento.cnpj }} <br>
        <strong> Email:</strong> {{ pontoAtendimento.email }} <br>
        <strong>Telefone:</strong> {{ pontoAtendimento.telefone }}<br>
      </div>
    </div>
    <hr>
  </div>
</ng-template>