.cabecario {
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.46);
-moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.46);
box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.46);
}

.cabecario .cabecario-embrulho {
  padding: 120px 0;
  background: rgba(0,0,0,0.2);
}

.cabecario.bg-1 {
  background: url('/assets/images/img-background-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: all 2s ease-in;
}

.cabecario.bg-2 {
  background: url('/assets/images/img-background-2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: all 2s ease-in;
}

.cabecario .titulo-cabecario {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.cabecario .cabecario-form {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.41);
}

.cabecario .cabecario-form .form-control {
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #cecece !important;
  border-radius: 0;
}

.conteudo {
  padding: 50px 0;
}
