<div class="cabecario" [ngClass]="fundo">
  <div class="cabecario-embrulho">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="titulo-cabecario">
            Procure uma clínica, <br />
            médico ou especilidade <br />
            com facilidade, em todo lugar.
          </h1>
        </div>
      </div>
    </div>

    <div class="container">
      <form #f="ngForm" autocomplete="off" class="cabecario-form" (ngSubmit)="f.form.valid && buscar()">
        <div class="row">
          <div class="col-md-8">
            <input class="form-control" placeholder="Em que podemos te ajudar? Clínica, médico ou especialidade" [(ngModel)]="pesquisa.q" name="q" type="text">
          </div>
          <div class="col-md-2">
            <select class="form-control" [(ngModel)]="pesquisa.plano" name="plano" id="">
              <option value="todos">Todos</option>
              <option value="clinica">Clínica</option>
              <option value="hospitais">Hospitais</option>
              <option value="medicos">Médicos</option>
            </select>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<main class="conteudo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Destaques do Mês</h2>
      </div>

      <div class="col-md-3">
        Teste
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Melhor Preço</h2>
      </div>

      <div class="col-md-3">
        Teste
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h2>Lista de Clínicas</h2>
      </div>
      <div class="col-md-3" *ngFor="let pontoAtendimento of pontoAtendimento">
        <!-- Passeia pelo array de clínicas e traz somente o que selecionamos abaixo-->
        <ul>
          <li>
            {{pontoAtendimento.nome}} <br>
            {{pontoAtendimento.telefone}} <br>
            {{pontoAtendimento.endereco}} <br>
            {{pontoAtendimento.descricao}} <br>
          </li>

        </ul>


      </div>
    </div>
  </div>
</main>


