<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Categoria: {{ categoriaAtual.nome }}</h2>
      <hr>
      <section *ngFor="let pontoAtendimento of pontosAtendimento">
        <div class="panel panel-default">
          <div class="panel-header">
            {{ pontoAtendimento.nome }}
          </div>
          <div class="panel-body">
            Descrição: {{ pontoAtendimento.descricao }} <br>
            Planos Aceitos: {{ pontoAtendimento.planos }} <br>
            Telefone: {{ pontoAtendimento.telefone }}

            <a class="btn btn-info float-right" [routerLink]="['/ponto-atendimento', pontoAtendimento.id]">Ver mais informações</a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <h2>Categorias</h2>
      <hr>
      <nav class="nav flex-column nav-pills">
        <a *ngFor="let categoria of categorias" routerLinkActive="active" [id]="categoria.id" class="nav-link"
            routerLink="/categoria" [queryParams]="{ selecionada: categoria.id }">{{ categoria.nome }}</a>
      </nav>
    </div>
  </div>
</div>
