<ion-header>
  <ion-navbar class="logo">
    <img class="batata" src="assets/imgs/im_login.png" />
  </ion-navbar>
</ion-header>

<ion-content padding class="lions-background mt">
  <form #f="ngForm">

    <ion-input type="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      class="full padding-10 mb" type="name" placeholder="Usuário" [(ngModel)]="usuario.email" name="name" #name="ngModel"
      [ngClass]="validaInput(name)" required minlength=4></ion-input>

    <ion-input type="password" class="full padding-10 mb" type="password" placeholder="Senha" [(ngModel)]="usuario.senha" name="password"
      #senha="ngModel" [ngClass]="validaInput(senha)" required minlength=6></ion-input>
    <div>
      <button ion-button block class="pt pb" id="botao-login" (click)="login()" [disabled]="f.form.invalid">
        <span>ENTRAR</span>
      </button>
    </div>
    <div style="text-align: right;" margin-top margin-top>
      <a (click)="pushPagesendResetEmail()" style="text-decoration: none; color:#00065c;" href="#">esqueceu a senha? </a>

    </div>
  </form>
</ion-content>
